<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ctg.ayhaga">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.ctg.ayhaga.LaunchActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name="com.ctg.ayhaga.DinnerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.ctg.ayhaga.ImageFullScreenActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.ctg.ayhaga.FavouriteActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.ctg.ayhaga.ReminderActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.ctg.ayhaga.MealDetailsActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.ctg.ayhaga.MealActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name="com.ctg.ayhaga.ChangePassActivity" />
        <activity
            android:name="com.ctg.ayhaga.HomeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.ctg.ayhaga.SendLinkActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.ctg.ayhaga.RegisterActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.ctg.ayhaga.ForgetPasswordActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.ctg.ayhaga.SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ctg.ayhaga.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5405017448198481~8959753461" />

        <receiver android:name="com.ctg.ayhaga.NotificationBreakfast" />
        <receiver android:name="com.ctg.ayhaga.NotificationLaunch" />
        <receiver android:name="com.ctg.ayhaga.NotificationDinner" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>